<html>
<body>
    <h3>Info del juego</h3>
    <p>Keys: {{producto.clave}}</p>
	<p>Nombre: {{producto.nombre}}</p>
	<p>Precio: {{producto.precio}}</p>
	<p>Plataforma: {{producto.plataforma}}</p>
	<p>Categoria: {{producto.categoria}}</p>
		
	<p>----------------------------------<p>
		
	<h3>Comprar</h3>
	{{#producto.clave.isEmpty}}
	<p>Sin stock<p>
	{{/producto.clave.isEmpty}}
	
    {{^producto.clave.isEmpty}}
	<a href="/producto/{{producto.id}}/anadido">Agregar al carrito</a>
	{{/producto.clave.isEmpty}}
	
	
	<p>----------------------------------<p>
	
	 <h3>Valoraciones</h3>
	 {{#producto.valoracion}}
	<p>	{{.}}</p>
	{{/producto.valoracion}}
	
    {{^producto.valoracion}}
	<p> No hay valoraciones </p>
	{{/producto.valoracion}}
    
	
	<a href="/producto/{{producto.id}}/eliminar">Eliminar producto</a>
	<br>
	<a href="/producto/{{producto.id}}/introducirValoracion">Dejar valoracion</a>
	
	<br>
	<a href="/">Atras</a>
</body>
</html>