<html>
<body>
    <h3>Info del juego</h3>
    {{#admin}}
    <p>Keys: {{producto.clave}}</p>
    {{/admin}}
	<p>Nombre: {{producto.nombre}}</p>
	<p>Precio: {{producto.precio}}</p>
	<p>Plataforma: {{producto.plataforma}}</p>
	<p>Categoria: {{producto.categoria}}</p>
		
	<p>----------------------------------<p>
		
	<h3>Comprar</h3>
	{{#producto.clave.isEmpty}}
	<p>Sin stock<p>
	{{/producto.clave.isEmpty}}
	
    {{^producto.clave.isEmpty}}
	<a href="/producto/{{producto.id}}/anadido">Agregar al carrito</a>
	{{/producto.clave.isEmpty}}
	
	
	<p>----------------------------------<p>
	
	 <h3>Valoraciones</h3>
	 {{#producto.valoracion}}
	<p>{{.}}</p>
	{{/producto.valoracion}}
	
    {{^producto.valoracion}}
	<p>No hay valoraciones</p>
	{{/producto.valoracion}}
    
    <br>	
	<a href="/producto/{{producto.id}}/introducirValoracion">Dejar valoracion</a>
	
	<p>----------------------------------<p>
		
	<br>
	{{#admin}}
	<a href="/producto/{{producto.id}}/eliminar">Eliminar producto</a>
	{{/admin}}
	
	<br><br>
    {{#user}}
	<a href="/home">Atras</a>
	{{/user}}
	
    {{^user}}
	<a href="/">Atras</a>
	{{/user}}
</body>
</html>