<html>
<body>

	<div align = "center"> 

	<img src="/imagenes/logo.png" width="200" height="200"/> 
	 
	<form action="/registrado" method="post">
	
		<p>Usuario: </p>
		<input type='text' name='nombre' required/>
		
		<p>Contrasena:</p>
		<input type='password' name='contrasena' required/>
		
		<p>Correo:</p>
		<input type='text' name='correo' required/>
		<input type='hidden' name='roles' value ='ROLE_USER'>
		<br>
		<br>
		<input type="hidden" name="_csrf" value="{{token}}"/>
		<input type='submit' value='Guardar'/>
	</form>
	</div> 
	
</body>
</html>